*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


root:{
    font-size: 14px;
}

@media screen and (max-width: 500px){
    .header{
        background-color: aquamarine;
    }
}

body{
    background-color: #0d0e41;
    font-family: "Georgia";
    color:white;
    
}
.header {
    padding: 0;
    text-align: center;
    background:#090a39;
    font-family:cursive;
    display:flex;
    height: 10vw;
    position:fixed;
    width: 98%;
    margin: 1vw;
    margin-top: 0;

}
.main{
    margin-left:1%;
    font-size: 2vw;
}

.top_margin{
    margin-top: 10vw;
}

.footer {
    padding: 20px;
    padding-bottom:5px;
    text-align: center;
    background:#090a39;
    font-family:"Georgia";
    height:auto;
    font-size: 1.5rem;
}
.footer_disclosure {
    font-size: 0.8rem;
    margin: 0;
    margin-bottom: 1rem;
}
.social_list{
    list-style-type: none;
    margin: 5px;
    padding:0px;
}
.social_element{
    display: inline-block;
    height: 20px;
}

h1{
    flex: 3;
    border: 6px #a1873f;
    border-style:ridge;
    padding: 0.5% 1%;
    border-radius: 8px;
    width: max-content;
    height: max-content;
    align-self: center;
    margin: 2vw;
    
    color: #c79f49;
    text-align: center;
    text-decoration: none;
    font-size: 4vw;
}
.email{
    flex: 1;
    align-self: center;
    justify-self: left;
    text-align: end;
    font-size: 2vw;
    margin:0;
}
#Headshot{
    flex:0 0 0;
    min-height: 100%;
    align-self:top;
}
h6{
    margin:2px;
    text-decoration: none;
}
p{
    font-family: "Helvetica";
    margin-left:2%;
    font-size: 2vw;
    margin: 1rem;
}

ul{
    font-family:"Helvetica";
    font-size: 2vw;
    margin-left: 4%;

}

h2{
    color:#c79f49;
    text-decoration:underline;
    margin-bottom: 1rem;
    font-size: 3vw;
}

a:link{
    color: #a1873f;

}
a:visited{
    color: #8b7947;
}
a:hover{
    color: aqua;
}

